
body{
    background-color: blueviolet;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87vw;
    background-color: #272727;
}
header ul li{
    padding: 1.7em;
}

header ul.brend{
    display: flex;
}
header ul.brend li:first-child::before{
    content: "-";
    color: #272727;
    font-size: 3em;
    font-weight: 700;
    position: absolute;
    transform: translateX(-0.2em) translateY(-0.07em) rotateZ(140deg);
}
header ul.brend li:last-child{
    margin-left: -3em;
}

header ul.namber{
    flex-grow: 4;
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}
header ul.namber li{
    color: #555;
    font-weight: 600;
    font-size: 1em;
}

header ul.icons{
    font-size: 1em;
    display: flex;
    flex-grow: 4;
    flex-basis: 1em;
    border-left: 1px solid #555;
    padding-left: 2em;
}
.icons a{
    display: block;
}
header ul.bars{
    font-size: 1.3em;
    color: #fff;
}

header ul #brand{
    width: 1.65em;
    height: 1.65em;
    border: 0.40em solid #fff;
}
.logo-name{
    font-size: 1.7em;
    font-weight: bold;
    text-align: left;
}
.logo-text{
    font-size: 0.9em;
    font-weight: 300;
    color: #555;
    text-align: left;
}


/* _________________ADOPTIVE________________ */
@media (max-width: 1200px){
    header ul.icons{
        display: none;
    }
    header ul.namber{
        margin-right: 0em;
    }
}
@media (max-width: 960px){
    body, p{
        font-size: 0.8rem;
        line-height: 1.2em;
    }
    header ul.brend li:first-child::before{
        transform: translateX(-0.2em) translateY(0.25em) rotateZ(140deg);
    }
}
@media (max-width: 600px){
    header ul.namber {
        display: none;
    }
}















